<section class="container p-4">
    <section class="row col-8 p-3 bg color rounded mx-auto d-block">
        <h2>VALIDACIÓN REACTIVA</h2>
        <form [formGroup]="form"> <!--(ngSubmit)="onSubmit()"-->

            <!-- N O M B R E -->
            <section class="col-8">
                <label class="form-label text"><b>Nombre:</b></label>
                <input class="form-control" type="text" formControlName="name">
                <!--Validacion -->
                <section *ngIf="form.get('name')?.invalid && form.get('name')?.touched">
                    <span *ngIf="form.get('name')?.errors required">El nombre es requerido. </span>
                    <span *ngIf="form.get('name')?.errors minlength">El nombre debe tener al menos 10 caracteres</span>
                </section>
            </section>

            <!-- E M A I L -->
            <section class="col-8">
                <label class="form-label text"><b>Email:</b></label>
                <input class="form-control" type="email" formControlName="email">
                <!-- Validacion -->
                <section *ngIf="form.get('email')?.invalid && form.get('email')?.touched">
                    <span *ngIf="form.get('email')?.errors required">El email es requerido. </span>
                    <span *ngIf="form.get('email')?.errors email">El email ingresado no es válido</span>
                </section>
            </section>

            <!-- M E N S A J E -->
            <section class="col-12">
                <label class="form-label text"><b>Mensaje:</b></label>
                <textarea class="form-control" formControlName="message"></textarea>
                <!-- Validacion -->
                <section *ngIf="form.get('message')?.invalid && form.get('message')?.touched">
                <span *ngIf="form.get('message')?.errors required">El mensaje es requerido. </span>
                <span *ngIf="form.get('message')?.errors maxlength">El mensaje no debe superar los 500 caracteres</span>
                </section>
            </section>

            <!-- B U T T O N S -->
            <section class="col-6">
                <button class="btn btn-primary m-2 text" type="submit" value="Enviar" (click)="confirm()" [disabled]="form.invalid">Confirmar</button>
                <button type="button" class="btn btn-danger m-2 text" (click)="onClear()">Limpiar</button>
            </section>
        </form>
    </section>    
</section>    
